@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:wght@100;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-image: url("img/bakgrundsbild.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#todo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    /*justify-content: first baseline;*/
    align-items: center;
    text-align: center;
}

header {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 6.3em;
    letter-spacing: 1px;
    color: rgb(38, 90, 119);
    text-shadow: -1px 0 rgb(253, 253, 253), 0 1px rgb(253, 253, 253), 1px 0 rgb(253, 253, 253), 0 -1px rgb(253, 253, 253);
    text-decoration-line: underline;
    margin-top: 100px;
    padding: 20px;
}

.input-fields {
    margin-top: 100px;
    padding: 10px;
}

#todo-input {
    width: 900px;
    height: 100px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}

#setPriority {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 10px;
}

#prio1 {
    background-color: red;
    text-align: center;
}

#prio2 {
    background-color: rgb(255, 210, 8);
    text-align: center;
}

#prio3 {
    background-color: rgb(51, 255, 0);
    text-align: center;
}

#addTodoBtn {
    border-radius: 5px;
    width: 300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.toDo-list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    align-items: center;
    margin-top: 7vh;
    justify-content: center;
    margin-bottom: 5vh;
}

.toDo-list li:hover {
    cursor: pointer;
    transform: scale(1.25);
    opacity: 1;
    z-index: 200;
}

.toDo-list li {
    width: 30vh;
    height: 30vh;
    padding: 15px;
    margin: 1vh;
    display: flex;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    overflow-y: auto;
    flex-direction: column;
    font-weight: bold;
    border-radius: 3px;
    align-items: center;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    font-family: "Shadows Into Light", cursive;
    font-size: 2.5vh;
}

.toDo-list h2 {
    cursor: default;
    font-size: 3vh;
    width: 100%;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.toDo-list button {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
}

ul li:nth-child(even) {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
}

ul li:nth-child(odd) {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
}

.check-status::after {
    content: "";
    text-decoration: line-through;
    position: absolute;
    left: 30px;
    top: 25px;
    border-color: rgb(38, 90, 119);
    border-style: solid;
    border-width: 0 8px 8px 0;
    transform: rotate(45deg);
    height: 30px;
    width: 15px;
}

.todo-priority-1 {
    border: 3px solid red;
    background-color: rgba(255, 0, 0, 0.7);
}

.todo-priority-2 {
    border: 3px solid orange;
    background-color: rgba(255, 210, 8, 0.7);
}

.todo-priority-3 {
    border: 3px solid rgb(23, 219, 23);
    background-color: rgba(51, 255, 0, 0.7);
}

.todo-priority-one:hover {
    background-color: rgba(255, 0, 0, 1);
}

.todo-priority-two:hover {
    background-color: rgba(255, 210, 8, 1);
}

.todo-priority-three:hover {
    background-color: rgba(51, 255, 0, 1);
}

#head {
    margin-top: 2vh;
    width: 100%;
    margin-left: 80vh;
    position: absolute;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

button.removeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
}

button.removeBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}