<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link type="image/png" rel="shortcut icon" th:href="@{/img/check.png}">
    <title>SG2 ToDo - Få saker gjort</title>
</head>
<body>
<div id="todo-container">
    <header>Att göra-lista</header>
    <div class="input-fields">
        <form id="to-do-form" method="post" th:action="@{/todo}">
            <input name="activity" type="text" maxlength="105" placeholder="Ange aktivitet" id="todo-input" required>
            <select id="setPriority" name="priority" required>
                <option value="">Ange prio</option>
                <option id="prio1" value="1">1</option>
                <option id="prio2" value="2">2</option>
                <option id="prio3" value="3">3</option>
            </select>
            <button type="submit" id="addTodoBtn">Lägg till</button>
        </form>
    </div>
    <ul class="toDo-list">
        <li th:each="todo : ${todoList}" th:class="todo-priority-+${todo.getPriority()}">
        <button th:data-id="${todo.getId()}" th:onclick="handleDelete(this.getAttribute('data-id'))" class="removeBtn">&times;</button>
            <h2>Aktivitet:</h2>
            <p th:text="${todo.getActivity()}"></p>
        </li>
    </ul>
</div>
<script th:src="@{/app.js}"></script>
</body>
</html>